.app-home{
  /* height: 100vh; */
}

main{
  color: rgb(0, 97, 146); 
  z-index: 9999;
  font-size: 1.5em;
  padding-top: calc(45vmin + 1.5em);
  text-align: center;
  --cardJumpValue: 30px;
  height: calc(max-height + 30px);
}

main > h2{
  font-family: 'Playfair Display', serif;
  margin-bottom: 0.8em;
  font-weight: 800;
}

.home-content{
  display: flex;
  flex-flow: column no-wrap;
  justify-content: space-between;
}

.card-container{
  display: flex;
  min-height: 330px;
  flex-flow: row wrap;
  column-gap: 1.5rem;
  row-gap: 3rem;
  justify-content: space-evenly;
}

.card-item{
  position:relative; 
  top: var(--cardJumpValue);
}

@keyframes cardFloat {
  to {
    position:relative; 
    top: 0;
  }
}

.card-item:hover{
  animation-delay: 100ms;
  animation: cardFloat 1s ease forwards;
}


@media screen and (min-width: 786px) {
  .bg-image {
    position: absolute;
    top: 0;
    border: solid 1.5em rgba(0, 0, 0, 0.03);
    width: calc(100% - 3em);
    height: 45vmin;
    background: url(../../assets/images/bg.png) 0% / cover border-box padding-box;
    background-attachment: fixed;
    background-position:right;
    background-repeat: no-repeat;
    
    font-size: 2em;
  }


  .bg-image::before{
    position: absolute;
    z-index: -1;
    top: -1.5em;
    right: -1.5em;
    bottom: -1.5em;
    left: -1.5em;
    border: inherit;
    border-color: transparent;
    background: inherit;
    background-clip: border-box;
    /* -webkit-prefixed version 
   * still needed for 
   * some mobile browsers 💔😭 */
    -webkit-filter: blur(5px) grayscale(10%);
    filter: blur(5px) grayscale(10%);
    content: "";
  }
}

@media screen and (max-width: 785px) {
  .bg-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 45vmin;
    background: url(../../assets/images/bg.png) 0% / cover border-box padding-box;
    filter: grayscale(30%) blur(3px);
  }

  main{
    padding-top: 45vmin;
  }
}