header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em 0 3em;
}

/* Necessita disso para o header ficar na frente dos layers */
header > *{
  z-index: 1;
}

.header-logo{
  text-align: center;
}

.header-logo > img{
  /* max-width: 48px;
  max-height: 48px; */

  max-width: 128px;
  max-height: 128px;
}

nav{
  width: fit-content;
}

/* @media screen and (max-width: ) */

.header-list{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}

.header-list-item{
  justify-content: center;
  align-content: center;
  margin-left: 3vw;
  /* background-color: rgb(0, 108, 162); */
  text-decoration: none;
  color: rgb(94, 94, 94);
  font-weight: 600;
}

@keyframes header-items-changeColor {
  to{
    background-color: rgb(178, 202, 231);
    padding: 15px 0 15px 0;
    /* filter: invert(100%); */
    border-radius: 5px;
    /* color: rgb(71, 71, 71); */
  }  
}

.header-list-item:hover{
  animation-name: header-items-changeColor;
  animation-duration: 500ms;
  animation-delay: 10ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.header-button{
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  justify-content: space-between;
}

.header-button-item{
  background-color: rgb(0, 101, 151);
  color: inherit;
  font-weight: 500;
  margin-left: 1vw;
  font-size: 1rem;
  border-radius: 10px 0 10px 0;
  border: 0;
  padding: 5px;
}

@keyframes buttonHoverAnimation{
  from{
    background-color: rgb(0, 101, 151); 
    scale: 1; 
    border-radius: 10px 0 10px 0;
    color: inherit;
  }

  to{
    background-color: rgb(0, 88, 133); 
    scale: 1.05; 
    border-radius: 10px 10px 10px 0;
    color: rgb(235, 235, 235);
  }
}

.header-button-item:hover{
  animation-name: buttonHoverAnimation;
  animation-duration: 700ms;
  animation-delay: 100ms;

  /* Mantem o efeito da animação até eu sair do hover */
  animation-fill-mode: forwards;
}

.header-extendBar-button{
  display: none;
}

.header-extendBar-button > img{
  width: 30px;
}

@media screen and (max-width: 794px)
{
  .header-logo > img{
    /* max-width: 48px;
    max-height: 48px; */
  
    max-width: 200px;
    max-height: 200px;
  }

  header{
    justify-content: space-around;
    padding: 0;
    font-size: 1rem;
  }

  .header-button .header-button-item{
    display: none;
  }

  .header-extendBar-button{
    display: block;
  }

  nav{
    display: none;
  }
}